html {
    /* background-color: grey; */
}

.App {
    text-align: center;
}

.logo {
    opacity: 0.1;
}

.form {
    align-content: center;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
}

.ui.secondary.menu {
    display: flex;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: white;
}

.logoHead {
    /* width: 10vw; */
    height: 20vh;
}

.ui.fitted.toggle.checkbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map {
    margin: auto;
    width: 90vw;
    height: 400px;
    background-color: brown;
    align-items: center;
}

.ui.toggle.checkbox input:focus:checked~.box:before,
.ui.toggle.checkbox input:focus:checked~label:before {
    background-color: red !important;

}

.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    background-color: grey;
}

.fire{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Profilecontainer{
background-color: black;
color: White;
font-size: 3em;
height: 20%;

}

.sliderClass{
  display: flex;
  justify-content: center;
}
.barReview{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10%;
  margin-right:10%;
}

.active.icon{
  color: red;
}

.test{
  height: 100px;
  display: flex;
  flex-direction: column;
}

.profile-pic {
    border-radius: 50%;
}